.start-page {
    flex-grow: 1;
    background-color: var(--global-color-primary-light);
}

.start-page__play-buttons {
    text-align: center;
    margin-top: 100px;
}

.start-page__play-button_align {
    margin-right: 120px;
}

.start-page__play-button_align:last-child {
    margin-right: 0;
}
