@import 'styles/constants';
@import 'styles/mixins';

$local-container-height: 70px;

.label-auth {
  position: relative;
  cursor: pointer;
  display: inline-block;


  &__container-avatar {
    box-shadow: 0px 0px 0px 3px #ffffff, 0px 0px 0px 5px #0097a7 inset;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include square($local-container-height, 50%);

    &_left {
      left: 100%;
    }
    z-index: 1;
  }

  &__image {
    object-fit: cover;

    @include square(60px, 50%)
  }

  &__rect {
    height: $local-container-height;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 20px 0 60px;

    &_left {
      padding: 0 60px 0 20px;
    }
  }

  &__nickname {
    font-size: $global-font-size-l;
    line-height: 25px;
    display: inline-block;
    color: $global-color-primary-dark;
  }
}
