@import '~styles/constants';

$local-height: 70px;

.label-auth {
  position: relative;

  &__circle {
    width: $local-height;
    height: $local-height;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;

  }

  &__rect {
    height: $local-height;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 20px 0 60px;
  }

  &__nickname {
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    color: $global-color-primary-dark;
  }
}
