.entrance-button {
    background: transparent;
    display: flex;
}

.entrance-button_none {

 }

.entrance-button__icon {
    width: 50px;
    height: 64px;
    background: url("../../icons/EntranceIcon.svg");
}
.entrance-button__title {
    padding: 12px 10px 12px;
    color: #FFFFFF;
    text-align: center;
}