@import "~styles/constants";

.auth-button {
  width: 350px;
  height: 100px;
  color: $global-color-primary-dark;
  cursor: pointer;

  &_active {
    border: 3px solid $global-color-primary-dark;
  }
}
