.layer {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__cell {
    flex-shrink: 0;
    display: inline-block;
    background-size: contain;
    background: no-repeat center;
    margin: 0;
    padding: 0;
  }
}