@import 'styles/mixins';
@import 'styles/constants';

.layer {
  box-shadow: 0px 0px 50px -10px #BDBDBD;
  overflow: hidden;
  border-radius: 10px;

  @include gameLayer(1);

  &__cell {
    flex-shrink: 0;
    display: inline-block;
    background-size: cover;
    background: no-repeat center;
    margin: 0;
    padding: 0;

    &_sand {
      @include svgBackground('./img/sand.svg', 105%);
    }

    &_water {
      @include svgBackground('./img/water.svg', 105%);
    }

    &_swamp {
      @include svgBackground('./img/swamp.svg', 105%);
    }
  }
}
