@import 'styles/mixins';

.layer {
  @include gameLayer(1);

  &__cell {
    flex-shrink: 0;
    display: inline-block;
    background-size: contain;
    background: no-repeat center;
    margin: 0;
    padding: 0;
  }
}