.logotype {
  margin: 0 auto;
  background: url("img/Logotype.svg") no-repeat center;
  background-size: contain;

  &_l {
    width: 1000px;
    height: 100px;
  }

  &_m {
    width: 531px;
    height: 52px;
  }
}
