@import 'styles/mixins';
@import 'styles/constants';

.rule {
  display: flex;
  &__container-img {
    display: inline-block;
    width: 400px;
    height: 240px;
    margin-right: 20px;
  }

  &_reverse {
    justify-content: space-between;
  }

  &_reverse &__container-img {
    margin-right: 0;
  }

  &__image {
    object-fit: cover;
    object-position: center;

    @include square(100%);
  }

  &__info {
    display: inline-block;
  }

  &__title {
    color: #006064;
    font-size: $global-font-size-l;
    font-weight: 700;
  }

  &__description {
    color: #006064;
    font-size: $global-font-size-m;
  }
}