@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/includeMedia.scss';

.play-button {
  background: linear-gradient(180deg, $global-color-sad 0%, $global-color-blue 100%);
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  @include square(200px);

  @include media(">=phone", "<500px") {
    &_multi {
      &:after {
        mask: url("./img/multiSmall.svg") no-repeat center;
        background-color: #FFFFFF;
      }
    }
  }

  @include media(">=500px") {
    &_multi {
      &:after {
        mask: url("./img/multi.svg") no-repeat center;
        background-color: #FFFFFF;
      }
    }
  }

  &:after {
    content: '';
    z-index: 1;

    @include square(100%);
    @include absoluteCenter;
  }

  &_single {
    &:after {
      mask: url("./img/single.svg") no-repeat center;
      background-color: #FFFFFF;
    }
  }
}
