@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/includeMedia.scss';

.play-button {
  background: linear-gradient(180deg, $global-color-sad 0%, $global-color-blue 100%);
  position: relative;
  cursor: pointer;

  @include square(200px, 50%);

  &:after {
    content: '';
    z-index: 1;

    @include square(100%);
    @include absoluteCenter;
  }

  &_multi {
    &:after {
      mask: url("./img/multi.svg") no-repeat center;
      background-color: #FFFFFF;
    }
  }

  &_single {
    &:after {
      mask: url("./img/single.svg") no-repeat center;
      background-color: #FFFFFF;
    }
  }

  :global(.isMobile) & {
    &_multi {
      &:after {
        mask: url("./img/multiSmall.svg") no-repeat center;
        background-color: #FFFFFF;
      }
    }

    &_single {
      &:after {
        mask: url("./img/singleSmall.svg") no-repeat center;
        background-color: #FFFFFF;
      }
    }
  }
}
