@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/includeMedia.scss';

.play-button {
  background: linear-gradient(180deg, $global-color-sad 0%, $global-color-blue 100%);
  position: relative;
  cursor: pointer;

  @include square(200px, 50%);

  &:after {
    content: '';
    z-index: 1;

    @include square(100%);
    @include absoluteCenter;
  }

  &_multi {
    &:after {
      @include svgBackground("./img/multi.svg", 160px);
    }
  }

  &_single {
    &:after {
      @include svgBackground("./img/single.svg", 80px);
    }
  }

  :global(.isMobile) & {
    &_multi {
      &:after {
        @include svgBackground("./img/multi.svg", 100px);
      }
    }

    &_single {
      &:after {
        @include svgBackground("./img/single.svg", 50px);
      }
    }
  }
}
