@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/includeMedia.scss';

@mixin playButtonBase($gradientFrom, $gradientTo, $image) {
  background: linear-gradient(180deg, $gradientFrom 0%, $gradientTo 100%);

  @include animate(background);
  animation-name: gradient-fade;
  animation-duration: 1.1s;

  &:after {
    @include svgBackground($image, 50%);
  }
}

$local-light-gray-color: #E7E7E7;
$local-dark-gray-color: #CACACA;

.play-button {
  background: linear-gradient(180deg, $global-color-sad 0%, $global-color-blue 100%);
  position: relative;
  cursor: pointer;

  @include square(200px, 50%);
  :global(.isMobile) & {
    @include square(100px, 50%);
  }

  &:after {
    content: '';
    z-index: 1;

    @include square(100%);
    @include absoluteCenter;
  }

  &_blur {
    &:after {
      background: linear-gradient(180deg, $global-color-sad 0%, $global-color-blue 100%);
      opacity: 0.2;
    }
  }

  &:before {
    content: '';
    z-index: 2;

    @include square(100%, 50%);
    @include absoluteCenter;

    background: #FFFFFF;
    opacity: 0;
    @include animate(opacity);
  }

  @include hover {
    &:before {
      opacity: 0.2;
    }
  }

  &__description {
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    left: 50%;
    text-align: center;
    top: 110%;
    font-size: $global-font-size-large;
    font-weight: 700;

    :global(.isMobile) & {
      font-size: $global-font-size-small;
    }

    &_play {
      color: #0D6721;
    }

    &_restart {
      color: #C8661F;
    }

    &_finish {
      color: #2062DE;
    }

    &_profile {
      color: #0D6721;
    }

    &_home {
      color: #2062DE;
    }

    &_multi {
      color: $global-color-blue;
    }

    &_single {
      color: $global-color-blue;
    }
  }

  &__blur-text {
    z-index: 2;

    @include text-medium(#FFFFFF, $global-font-size-header);
    @include absoluteCenter;
  }


  &_play {
    @include playButtonBase(#629A36, #0D6721, './img/play.svg');

    &:after {
      left: 55%;
    }
  }

  &_restart {
    @include playButtonBase(#F5BC2A, #C8661F, './img/restart.svg');
  }

  &_finish {
    @include playButtonBase(#3BCBD1, #2062DE, './img/finish.svg');
  }

  &_profile {
    @include playButtonBase(#629A36, #0D6721, './img/profile.svg');
  }

  &_home {
    @include playButtonBase(#3BCBD1, #2062DE, './img/home.svg');
  }

  &_multi {
    @include playButtonBase($global-color-sad, $global-color-blue, './img/multi.svg');
  }

  &_single {
    @include playButtonBase($global-color-sad, $global-color-blue, './img/single.svg');
  }
}
