.content {
    width: 900px;
    height: 717px;
}

.content_start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__play-buttons {
    width: 672px;
    height: 287px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}