@import 'styles/constants';
@import 'styles/mixins';

.game-button {
  padding: 5px;
  background-color: $global-color-game-secondary-light;
  border-radius: 50%;
  border: 5px solid $global-color-primary-light;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @include square(160px);

  &_size-m {
    width: 100px;
    height: 105px;
  }

  &__icon {
    object-fit: cover;
    object-position: center;

  }

  &_reload-size {
    width: 92px;
    height: 96px;
  }

  &_play-size {
    width: 92px;
    height: 104px;
    margin-left: 20px;
  }

  &_give-up-size {
    width: 80px;
    height: 98px;
    margin-left: 10px;
  }

  &_profile-size{
    width: 90px;
    height: 106px;
  }

  &_home-size{
    width: 96px;
    height: 96px;
  }
}
