@import 'styles/constants';
@import 'styles/mixins';
@import 'styles/includeMedia.scss';

$margin-l: 52px;
$margin-m: 16px;
$padding-m: 8px;

.header {
  height: 90px;
  background-color: $global-color-blue;
  flex-grow: 0;
  flex-shrink: 0;

  &__content {
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  @include media(">=phone", "<tablet") {
    &__tabbar {
      display: none;
    }

    &__volume {
      display: none;
    }

    &__entry {
      display: none;
    }

    &__profile {
      display: none;
    }

    &__logotype {
      width: 222px;
      height: 67px;
    }
  }

  @include media(">=tablet") {
    &__content {
      width: 760px;
    }

    &__nav-bar {
      display: none;
    }

    &__tabbar {
      width: 540px;
      left: 48%;
      display: flex;
    }

    &__nickname {
      display: none;
    }

    &__profile {
      display: flex;
    }

    &__tab {
      &_left {
        margin-right: $margin-m;
      }

      &_right {
        margin-left: $margin-m;
      }
    }

    &__entry {
      display: flex;
    }
  }

  @include media(">=tablet", "<desktop") {
    &__logotype {
      width: 280px;
      height: 86px;
    }
  }

  @include media(">=desktop") {
    &__content {
      width: 1000px;
    }

    &__tabbar {
      @include absoluteCenter;
      width: 708px;
    }

    &__logotype {
      width: 331px;
      height: 102px;
    }

    &__nickname {
      display: block;
    }

    &__tab {
      &_left {
        margin-right: $margin-l;
      }

      &_right {
        margin-left: $margin-l;
      }
    }
  }

  @include media(">=1300px") {
    .header__content {
      width: 1260px;
    }
  }

  &__nav-bar {
    width: 28px;
    height: 18px;
    background: url("./img/navBarIcon.svg") no-repeat center;
    cursor: pointer;
  }

  &__tabbar {
    flex-direction: row;
    justify-content: space-between;
  }

  &__left-part {
    padding-bottom: $padding-m;
  }

  &__right-part {
    padding-bottom: $padding-m;
  }

  &__tab {
    &_left {
    }

    &_right {
    }
  }

  &__logotype {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    z-index: 1;
  }

  &__volume {}

  &__entry {
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  &__entry-text {
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    font-size: $global-font-size-medium;
    margin-right: 12px;

    &_active {
      color: $global-color-sad;
    }
  }

  &__profile {
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  &__nickname {
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    font-size: $global-font-size-medium;
    margin-right: 12px;

    &_active {
      color: $global-color-sad;
    }
  }
}
