@import '~styles/constants';
@import 'styles/mixins';

.header {
  height: 90px;
  background-color: $global-color-blue;

  &__content {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  @media (min-width: 760px) {
    .header__content {
      width: 720px;
    }

    .header__logotype {
      transform: translate(-50%, -10%);
    }

    .header__tabbar {
      width: 400px;
    }

    .header__volume {
      width: calc((100% - 400px)/2);
    }

    .header__entry {
      width: calc((100% - 400px)/2);
    }

    .header__profile {
      width: calc((100% - 400px)/2);
    }

    .header__tab {
      &_left {
        margin-right: 28px;
      }

      &_right {
        margin-left: 28px;
      }
    }
  }

  @media (min-width: 1040px) {
    .header__content {
      width: 1000px;
    }

    .header__logotype {
      transform: translate(-50%, -50%);
    }

    .header__tabbar {
      width: 708px;
    }

    .header__volume {
      width: calc((100% - 708px)/2);
    }

    .header__entry {
      width: calc((100% - 708px)/2);
    }

    .header__profile {
      width: calc((100% - 708px)/2);
    }

    .header__tab {
      &_left {
        margin-right: 52px;
      }

      &_right {
        margin-left: 52px;
      }
    }
  }

  @media (min-width: 1300px) {
    .header__content {
      width: 1260px;
    }

    .header__tabbar {
      width: 708px;
    }

    .header__volume {
      width: calc((100% - 708px)/2);
    }

    .header__entry {
      width: calc((100% - 708px)/2);
    }

    .header__profile {
      width: calc((100% - 708px)/2);
    }

    .header__tab {
      &_left {
        margin-right: 52px;
      }

      &_right {
        margin-left: 52px;
      }
    }
  }

  &__tabbar {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left-part {
    padding-bottom: 8px;
  }

  &__right-part {
    padding-bottom: 8px;
  }

  &__tab {
    &_left {
      margin-right: 52px;
    }

    &_right {
      margin-left: 52px;
    }
  }

  &__logotype {
    position: absolute;
    left: 50%;
    top: 80%;
  }

  &__volume {
    width: calc((100% - 708px)/2);
  }

  &__entry {
    width: calc((100% - 708px)/2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  &__entry-text {
    color: #FFFFFF;
    font-size: $global-font-size-medium;
    margin-right: 12px;

    &_active {
      color: $global-color-sad;
    }
  }

  &__profile {
    width: calc((100% - 708px)/2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  &__nickname {
    color: #FFFFFF;
    font-size: $global-font-size-medium;
    margin-right: 12px;

    &_active {
      color: $global-color-sad;
    }
  }
}
