@import 'styles/constants';
@import 'styles/mixins';
@import 'styles/includeMedia.scss';

$margin-l: 52px;
$margin-m: 16px;
$padding-m: 8px;

$top-popup-indent: 60px;
$right-popup-indent: -20px;


.header {
  height: 90px;
  background-color: $global-color-blue;
  flex-grow: 0;
  flex-shrink: 0;

  :global(.isMobile) & {
    height: 70px;
  }

  &__content {
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__nav-bar {
    display: none;
    width: 28px;
    height: 18px;
    background: url("./img/navBarIcon.svg") no-repeat center;
    cursor: pointer;
  }

  &__tabbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left-part {
  }

  &__right-part {
  }

  &__tab {
    &_left {
    }

    &_right {
    }
  }

  &__logotype {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
  }

  &__volume {}

  &__entry {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  &__entry-text {
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    font-size: $global-font-size-medium;
    margin-right: 12px;

    &_active {
      color: $global-color-sad;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
  }

  &__nickname {
    display: none;
    letter-spacing: 0.02rem;
    color: #FFFFFF;
    font-size: $global-font-size-medium;
    margin-right: 12px;

    &_active {
      color: $global-color-sad;
    }
  }

  &__avatar {
  }

  &__profile:hover &__popup {
    visibility: visible;
    opacity: 1;
  }

  &__popup {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: $top-popup-indent;
    right: $right-popup-indent;
    z-index: 1;

    @include animate(visibility, opacity);
  }

  @include media("<tablet") {
    &__tabbar {
      display: none;
    }

    &__volume {
      display: none;
    }

    &__entry {
      display: none;
    }

    &__profile {
      display: none;
    }

    &__nav-bar {
      display: block;
    }

    &__logotype {
      width: 222px;
      height: 67px;
    }
  }

  @include media(">=tablet") {
    &__content {
      width: 760px;
    }

    &__tabbar {
      width: 540px;
      left: 48%;
    }

    &__tab {
      &_left {
        margin-right: $margin-m;
      }

      &_right {
        margin-left: $margin-m;
      }
    }
  }

  @include media(">=tablet", "<desktop") {
    &__logotype {
      width: 280px;
      height: 86px;
    }
  }

  @include media(">=desktop") {
    &__content {
      width: 1000px;
    }

    &__tabbar {
      @include absoluteCenter;
      width: 708px;
    }

    &__logotype {
      width: 331px;
      height: 102px;
    }

    &__tab {
      &_left {
        margin-right: $margin-l;
      }

      &_right {
        margin-left: $margin-l;
      }
    }
  }

  @include media(">=1300px") {
    &__content {
      width: 1260px;
    }

    &__nickname {
      display: block;
    }
  }
}
