@import 'styles/constants';
@import 'styles/mixins';

.pause-page {
  z-index: 9999;
  position: absolute;
  left: 0;
  top: -100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;

  @include square(100%);
  @include animate(top, opacity);

  &:before {
    background-color: $global-color-light-sad;
    opacity: 0.5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
  }

  &_open {
    top: 0;
    opacity: 1;
  }

  &__title {
    text-align: center;
    @include text-header();
    margin-bottom: $global-spacing-big;
  }

  &__shortcuts-container {
    margin: 50px 0 20px;
  }

  &__game-buttons-container {
    display: inline-flex;
  }

  &__game-button-container {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}