$global-color-primary-dark: #006064;
$global-color-primary-light: #0097A7;
$global-color-secondary-light: #FFF8ED;
$global-color-secondary-dark: #FFF3E0;
$global-color-error: #640000;
$global-color-light-grey: #78909C;
