$global-color-primary-dark: #006064;
$global-color-primary-light: #0097A7;
$global-color-secondary-light: #FFF8ED;
$global-color-secondary-dark: #FFF3E0;
$global-color-error: #640000;
$global-color-light-grey: #78909C;
$global-color-game-primary-dark: #587A76;
$global-color-game-secondary-dark: #81D2C7;
$global-color-game-primary-light: #FFF3E0;
$global-color-game-secondary-light: #EBFFFC;

$global-font-size-xs: 10px;
$global-font-size-s: 14px;
$global-font-size-m: 16px;
$global-font-size-l: 20px;
$global-font-size-xl: 45px;
$global-font-size-xxl: 80px;

// Новые константы:

$global-color-top-linear: #006064;
$global-color-bottom-linear: #243555;
$global-color-blue: #243555;
$global-color-sad: #008287;
$global-color-light-sad: #DAF2E8;
$global-color-borders: #BDBDBD;
$global-color-dangerous: #BC1F3B;
$global-color-grey: #E0E0E0;

$global-input-height: 50px;
$global-input-height-small: 25px;

$global-spacing-small: 8px;
$global-spacing-medium: 16px;
$global-spacing-medium-big: 24px;
$global-spacing-big: 32px;

$global-font-size-small: 12px;
$global-font-size-medium: 16px;
$global-font-size-header: 24px;

$global-border-radius: 5px;
$global-border-radius-big: 10px;
