@import 'styles/constants.scss';

//@import url('https://fonts.googleapis.com/css?family=Exo+2');
//@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:global {
  * {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: $global-font-size-medium;
    background: url("./img/Background.png") no-repeat center;
    background-size: cover;
  }

  button {
    outline: none;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
  }

  input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
  }

  #root {
    height: 100%;
  }
}
