.volume-button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: flex;
}

.volume-button_on {
    width: 60px;
    height: 60px;
    background: url("../../icons/VolumeOnButton.svg") no-repeat center;
}