@import '~styles/constants';

.leaders-page-row-table {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  color: $global-color-primary-light;

  &__column {
    padding-top: 20px;
    color: var(--global-color-primary-dark);
  }

  &_num {
    flex-grow: 0;
    flex-shrink: 0;
    width: 120px;
    padding-left: 52px;
  }

  &_nick {
    flex-grow: 1;
    padding-left: 160px;
  }

  &_rating {
    padding-left: 120px;
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
