@import 'styles/constants';
@import 'styles/mixins';

$local-counter-size: 40px;
$local-resource-size: 86px;

.items-container {
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.resource {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;

  @include square($local-resource-size);

  &_disabled {
    filter: grayscale(100%);
  }

  &__counter {
    background-color: $global-color-game-secondary-dark;
    color: $global-color-game-secondary-light;
    text-align: center;
    padding: 4px 0 0 4px;
    position: absolute;
    right: 0;
    bottom: 0;

    @include square($local-counter-size, 50%);
  }

  &__container-icon {
    background-color: $global-color-game-secondary-light;
    border: 3px $global-color-game-secondary-dark solid;
    background-size: contain;
    cursor: pointer;
    position: relative;

    @include square(100%, 50%);

    &:after {
      content: '';
      z-index: 1;

      @include square(100%);
      @include absoluteCenter;
    }

    &_SAND {
      &:after {
        background: url("img/Sand.svg") no-repeat center;
      }
    }

    &_BOMB {
      &:after {
        background: url("img/Bomb.svg") no-repeat center;
      }
    }

    &_LIFEBUOY {
      &:after {
        background: url("img/Lifebuoy.svg") no-repeat center;
      }
    }
  }
}