@import '~styles/constants';

.main-block {
  background: $global-color-secondary-dark;
  padding: 60px 0;
  position: relative;
  flex-grow: 1;

  &__content {
    width: 900px;
    background: #FFFFFF;
    margin: 0 auto;
    position: relative;
  }
}
