.tabbar__tab {
  border-bottom: 3px solid #FFFFFF;
  padding: 20px;
  margin-right: 52px;
  box-sizing: border-box;
  color: #ffffff;

  &:last-child {
    margin-right: 0;
  }

  &_active {
    padding: 17px;
    border: 3px solid #FFFFFF;
  }
}