@import 'styles/mixins';
@import 'styles/constants';

.circle-button {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  position: relative;
  cursor: pointer;
  @include animate(background);

  @include square(40px, 50%);

  &:after {
    content: '';
    z-index: 1;

    @include square(100%);
    @include absoluteCenter;
  }

  &_volume-on {
    &:after {
      mask: url("./img/volumeOn.svg") no-repeat center;
      background-color: #FFFFFF;
    }
  }

  &_volume-off {
    &:after {
      mask: url("./img/volumeOff.svg") no-repeat center;
      background-color: #FFFFFF;
      left: 36%;
    }
  }

  &_profile {
    &:after {
      mask: url("./img/profile.svg") no-repeat center;
      top: 48%;
      background-color: #FFFFFF;
    }
  }

  &_chat {
    &:after {
      mask: url("./img/chat.svg") no-repeat center;
      background-color: #FFFFFF;
    }
  }

  &_active {
    border-color: $global-color-sad;

    &:after {
      background-color: $global-color-sad;
    }
  }

  &_blue {
    background-color: $global-color-blue;
  }

  @include hover {
    background: lighten($global-color-blue, 10%);
  }
}
