.sign-in__button {
    width: 350px;
    height: 100px;
    color: var(--global-color-primary-dark);
    margin-right: 100px;
}

.sign-in__button:last-child {
    margin-right: 0;
}

.form__button_active {
    border: 3px solid var(--global-color-primary-dark);
}