.header {
    flex-grow: 0;
    flex-shrink: 0;
    height: 244px;
    background: var(--global-color-primary-light);
    padding: 0 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container-volume-button {
    width: 140px;
}
