.header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 244px;
    justify-content: center;
    background: var(--global-color-primary-light);
    position: relative;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container-logotype {
    margin-bottom: 30px;
}

.header_main {
    flex-direction: column;
}

.header__container-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 56px;
    transform: translateY(-100%);
    top: 40%;
}

.header__container-buttons_auth-page {
    justify-content: flex-start;
}

.header__container-buttons_start-page {
    top:60%;
}

.header__container-buttons_auth {
    padding-right: 0;
}
