@import '~styles/constants';

.main-block {
  flex-grow: 1;
  background: url("./img/Background.png") no-repeat center;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;

  &__children {
   flex-grow: 1;
  }
}

/*.main-block {
  background: $global-color-secondary-dark;
  padding: 60px 0;
  position: relative;
  flex-grow: 1;

  &__content {
    width: 900px;
    background: #FFFFFF;
    margin: 0 auto;
    position: relative;
  }
}*/
