@import 'styles/constants';
@import 'styles/mixins';
@import 'styles/includeMedia';

.leaders-page {
  padding: #{$global-spacing-big * 2} $global-spacing-small;
  width: calc(620px + #{$global-spacing-small});
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.rows-block {
  width: 100%;
  background: #ffffff;
  margin-bottom: $global-spacing-small;
  border-radius: $global-border-radius;

  @include text-medium();

  &:last-child {
    margin-bottom: 0;
  }

  &_header {
    background: $global-color-blue;
    color: #ffffff;
  }

  &_me {
    background: #ffffff;
    color: $global-color-sad;
  }
}

.row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $global-spacing-medium-big $global-spacing-small $global-spacing-medium-big;
  align-items: center;
  &:first-child {
    padding-top: $global-spacing-small;
  }

  &__col {
    text-align: left;

    &_index {
      width: 100px;
      flex-shrink: 0;

      @include media('<=phone') {
        width: 60px;
      }
    }

    &_user {
      flex-grow: 1;
      box-sizing: border-box;
      padding-right: $global-spacing-small;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_rating {
      width: 120px;
      flex-shrink: 0;

      @include media('<=phone') {
        width: 80px;
      }
    }
  }
}

.circle {
  background-color: $global-color-blue;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  @include square(36px, 50%);

  &_me {
    background-color: $global-color-sad;
  }

  &_header {
    background-color: #ffffff;
    color: $global-color-blue;
  }
}
