@import 'styles/constants';
@import 'styles/mixins';

.timer {
  display: inline-flex;

  &__pause {
    @include square(46px);
    border-radius: 50%;
    background-color: $global-color-game-secondary-light;
    border: 4px solid $global-color-primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 67%;

    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;

      background: url("img/Pause.svg") no-repeat center;
      z-index: 1;
    }
  }
  &__round {
    font-size: 20px;
    padding: 7px 20px 15px 22px;
    text-align: center;
    color: $global-color-primary-light;
    background-color:  #FDE679;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 36%;
  }

  &__time {
    color: $global-color-primary-light;
    padding: 10px 10px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 50px;
  }
}
