@import 'styles/constants';
@import 'styles/mixins';

.timer {
  position: relative;
  height: $global-input-height;
  background-color: $global-color-blue;
  border-radius: $global-border-radius;

  @include animate(background-color);

  &_time-ok {
    background-color: $global-color-sad;
  }

  &_warning {
    background-color: #BC8134;
  }

  &_dangerous {
    background-color: $global-color-dangerous;
  }

  &__pause-container {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: $global-spacing-medium;
  }

  &__pause {
    @include square(34px, 50%);
    @include buttonBase($global-color-sad);

    &:after {
      content: '';
      background: url("img/pause.svg") no-repeat center;
      z-index: 1;
      @include square(100%);
      @include absoluteCenter;
    }
  }

  &__round {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: $global-spacing-medium;

    @include text-medium(#ffffff);
  }

  &__time {
    padding: 0 10px;
    border-radius: $global-border-radius;

    @include absoluteCenter;
    @include text-medium(#ffffff, 32px);
  }
}
