@import 'styles/constants';
@import 'styles/mixins';

.profile-page {
  position: relative;
  padding: #{$global-spacing-big * 2} $global-spacing-big $global-spacing-big;

  @include media('<=phone') {
    padding: #{$global-spacing-big * 2} $global-spacing-medium $global-spacing-medium;
  }

  &__container {
    max-width: 500px;
    text-align: center;
    @include pane();
  }

  &__title {
    margin-bottom: $global-spacing-big;

    @include text-header();
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $global-spacing-big;
  }

  &__avatar-edit-icon {
    &:after {
      background-image: url('./img/Pencil.svg');
    }
  }

  &__item {
    margin-bottom: $global-spacing-medium;
  }
}

.heading-item {
  margin-bottom: $global-spacing-medium;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &_tiny {
    width: 80px;
  }

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: $global-spacing-medium;

    @include square(20px);

    &_vk {
      @include svgBackground('./img/vk.svg', 100%);
    }
  }

  &__title {
    @include text-medium($global-color-borders) {
      font-weight: 400;
    };

    margin-bottom: $global-spacing-small;
  }

  &__text {
    @include text-medium();

    &-content {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
