.volume-button {
  width: 60px;
  height: 60px;
  display: flex;
  background: transparent url('img/VolumeOff.svg') no-repeat center;
  background-size: contain;

  &_on {
    background: url('img/VolumeOn.svg') no-repeat center;
  }
}
