.submit-button {
    height: 75px;
    padding: 12px 20px;
    background: var(--global-color-primary-light);
    display: flex;
    align-items: center;
}

.submit-button__container-icon {
    margin-right: 20px;
}

.submit-button__next-icon {
    width: 20px;
    height: 32px;
    background: url("../../icons/ArrowIcon.svg");
}

.submit-button_light {
    border: 1px solid var(--global-color-primary-dark);
    background: transparent;
    color: var(--global-color-primary-dark);
}

.submit-button__camera-icon {
    width: 50px;
    height: 50px;
    background: url("../../icons/Camera.svg");
}

.submit-button__title {

}

.submit-button__title_dark {
    color: var(--global-color-primary-dark);
}