@import 'styles/constants';
@import 'styles/mixins';

.play-button {
  display: inline-block;
  width: 276px;
  height: 276px;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  background-color: $global-color-primary-light;
  cursor: pointer;
  position: relative;

  &:after {
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    @include absoluteCenter;
  }

  &_single-pl {
    &:after {
      background: url("./img/SinglePlayer.svg") no-repeat center;
    }
  }

  &_multi-pl {
    &:after {
      background: url("./img/MultiPlayer.svg") no-repeat center;
    }
  }

  &_multi-blur {
    &:after {
      background: url("./img/MultiPlayerBlur.svg") no-repeat center;
    }
  }
}

