@import "~styles/constants";

.play-button {
  display: inline-block;
  width: 276px;
  height: 276px;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  background-color: $global-color-primary-light;
  background-size: contain;

  &_single-pl {
    background: url("./img/SinglePlayer.svg") no-repeat center;
  }

  &_multi-pl {
    background: url("./img/MultiPlayer.svg") no-repeat center;
  }
}

