@import '~styles/constants';

.input {
  width: 100%;
  height: 100%;
  display: block;
  color: $global-color-primary-dark;
  font-weight: 700;
  border-bottom: 1px solid $global-color-primary-dark;
  background: transparent;
  padding: 0 20px;
  position: relative;
  z-index: 1;

  &-label {
    color: $global-color-primary-dark;
    position: absolute;
    z-index: 0;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;

    &_active {
      position: absolute;
      display: inline-block;
      transform: translateY(-100%);
      top: 0;
      left: 20px;
      font-size: 20px;
    }

    &_error {
      color: $global-color-error;
    }
  }

}

.form-input-container {
  max-width: 100%;
  height: 100%;
  position: relative;
}
