.main-block {
    flex-grow: 1;
    background: var(--global-color-secondary-dark);
    padding-top: 60px;
}

.main-block__content {
    height: 100%;
    width: 900px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 50px
}

.main-block__container-buttons {
    display: flex;
}

.main-block__container-submits {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}