@import url('https://fonts.googleapis.com/css?family=Passion+One');

.logotype {
    width: 1087px;
    height: 126px;
    background: url("../../components/icons/Logotype.svg");
}

.logotype_start {
    margin: 0 auto;
}