@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/includeMedia';

.sign-auth-page {
  height: 100%;
  padding: #{$global-spacing-big * 2};

  @include media('<=phone') {
    padding: #{$global-spacing-big * 2} $global-spacing-medium;
  }

  &__content {
    max-width: 500px;
    text-align: center;
    @include pane();
  }

  &__title {
    @include text-medium();

    margin-bottom: $global-spacing-big;
  }

  &__link {
    margin-top: $global-spacing-medium;
  }
}
