@import 'styles/mixins';
@import 'styles/constants';

.sign-auth-page {
  height: 100%;
  padding: 50px;

  &__content {
    max-width: 500px;
    text-align: center;
    @include pane();
  }

  &__title {
    color: $global-color-blue;
    font-size: $global-font-size-header;
    margin-bottom: $global-spacing-big;
    font-weight: 600;
  }

  &__link {
    margin-top: $global-spacing-medium;
  }
}
