@import 'styles/constants';
@import 'styles/mixins';

.avatar-profile {
  position: relative;
  margin: 0 auto;
  @include square(124px);
  @include media('<=phone') {
    @include square(85px);
  }

  &__image {
    display: block;
    object-fit: cover;
    background-color: $global-color-borders;

    @include square(100%, 50%);
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;

    @include square(32px, 50%);
    @include buttonBase();

    &:after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include square(50%);
      @include absoluteCenter();
    }
  }
}
