@import '~styles/constants';
@import 'styles/mixins';

.avatar-profile {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px #0097a7, 0px 0px 0px 5px #ffffff inset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  @include square(250px);

  &__image {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    @include square(100%);
  }
}
