.game-part {
  overflow: hidden;
  height: 100%;
  width: 100%;

  &__content {
    overflow: hidden;
    height: 100%;
    width: 100%;

    :global(.isMobile) & {
      @media only screen and (orientation: portrait) {
        transform: rotate(90deg);
        transform-origin: right top;
        position: absolute;
        top: 100%;
        right: 0;
      }
    }
  }
}

