@import 'styles/mixins';

.header {
  margin: $global-spacing-big auto 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;

  min-width: 400px;

  &:not(:global(.isMobile)) & {
    min-width: 650px;
  }

  :global(.isMobile) & {
    margin: $global-spacing-small auto 0;
  }

  &__timer {
    flex-grow: 1;
    margin: 0 5px;
  }

  &__me {
    flex-shrink: 0;
  }

  &__opponent {
    flex-shrink: 0;
  }
}
