@import 'styles/mixins';

.header {
  height: 140px;
  width: 100%;
  position: relative;

  &__timer {
    width: 100%;
    @include absoluteCenter;
  }

  &__me {
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
  }

  &__opponent {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
