@import "~styles/constants";

.start-page {
  height: 100%;
  background-color: $global-color-primary-light;

  &__play-buttons {
    text-align: center;
    margin-top: 100px;
  }

  &__play-button {
    margin-right: 120px;

    &:last-child {
      margin-right: 0;
    }
  }
}
