@import 'styles/constants';
@import 'styles/mixins';
@import 'styles/includeMedia.scss';

.start-page {
  display: flex;
  justify-content: center;
  align-items: center;

  &__play-buttons {
    display: inline-block;
  }

  &__play-button {
    display: inline-block;
    margin-right: 44px;

    &:last-child {
      margin: 0;
    }

    @include square(200px);
  }

  &__play-button {
    @include media("<=phone") {
      display: block;
      margin: 0 0 20px 0;

      @include square(150px);
    }
  }
}
