@import "~styles/constants";

.shortcut {
  display: flex;
  color: $global-color-primary-light;

  &__button {
    background-color: $global-color-game-secondary-light;
    height: 40px;
    padding: 4px 10px;
    border-radius: 10px;
    border: 3px $global-color-primary-light solid;
    font-weight: bold;
    font-size: $global-font-size-l;
  }

  &__title {
    font-size: $global-font-size-m;
    padding: 6px 16px;
  }
}
