  @import 'styles/constants';
  @import 'styles/mixins';

.chat {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 280px;
  max-height: 80%;
  z-index: $global-z-index-chat;
  border-radius: $global-border-radius-big;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &_open {
    height: 440px;
  }

  :global(.isMobile) & {
    &__header {
      display: none;
    }

    &__icon {
      display: inline-block;
    }
  }

  &__icon {
    display: none;

    &_open {
      display: none!important;
    }
  }

  &__header {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    padding: $global-spacing-small-medium;
    background-color: $global-color-darker-blue;
    color: #FFFFFF;
    text-align: center;
    font-size: $global-font-size-medium;
    cursor: pointer;
    @include animate(background);

    @include hover {
      background: lighten($global-color-darker-blue, 10%);
    }

    &_open {
      display: block!important;
    }
  }

  &__content {
    width: 100%;
    flex-grow: 0;
    height: 0;
    overflow: hidden;
    background: #FFFFFF;
    position: relative;

    @include animate(height);

    &_open {
      flex-grow: 1;
    }
  }
}
