@import 'styles/mixins';
@import 'styles/constants';

.rules-page {
  &__container {
    padding: #{$global-spacing-big * 2} $global-spacing-small;
  }

  &__controllers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: $global-spacing-small;
    margin-bottom: $global-spacing-big;
  }

  &__controllers-img {
    height: 240px;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 50%;

    @include media('<=phone') {
      width: 100%;
      height: 120px;
    }
  }

  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  text-align: center;

  padding: #{$global-spacing-big * 2} $global-spacing-small 0 $global-spacing-small;
  @include pane();
}
