@import "~styles/constants";

.submit-button {
  height: 75px;
  padding: 12px 20px;
  background: $global-color-primary-light;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__container-icon {
    margin-right: 20px;
  }

  &__next-icon {
    width: 20px;
    height: 32px;
    background: url('img/Arrow.svg');
  }

  &__camera-icon {
    width: 50px;
    height: 50px;
    background: url('img/Camera.svg');
  }

  &__settings-icon {
    width: 35px;
    height: 35px;
    background: url('img/Settings.svg');
  }

  &__lock-icon {
    width: 40px;
    height: 40px;
    background: url('img/Lock.svg');
  }

  &__save-icon {
    width: 40px;
    height: 40px;
    background: url('img/Save.svg');
  }

  &__cancel-icon {
    width: 32px;
    height: 32px;
    background: url('img/Cancel.svg');
  }

  &_disabled {
    cursor: default;
  }

  &_light {
    border: 1px solid $global-color-primary-dark;
    background: #ffffff;
    color: $global-color-primary-dark;

    &.submit-button_disabled {
      border: 1px solid $global-color-light-grey;
      color: darken($global-color-light-grey, 10%);
    }
  }

  &_dark {
    background: $global-color-primary-light;
    color: #FFFFFF;

    &.submit-button_disabled {
      background: $global-color-light-grey;
    }
  }

  &__title {
  }
}
