@import 'styles/constants';
@import 'styles/mixins';

textarea {
  outline: none;
  resize: none;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;

  &__messages {
    flex-grow: 1;
    padding: $global-spacing-small;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
  }

  &__footer {
    width: 100%;
    height: 56px;
    padding: $global-spacing-small-medium $global-spacing-small;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
  }

  &__button-container {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: $global-spacing-small;
  }

  &__textarea {
    font-family: 'Exo 2', serif;
    width: calc(100% - 28px);
    overflow: hidden;
    color: $global-color-sad;
    border-bottom: 1px solid $global-color-sad;
  }

  &__scroll {
    position: absolute;
    right: 10%;
    bottom: 64px;
    background-size: contain;
    background: url("./img/Arrow.svg") no-repeat center;
    z-index: 1;
    cursor: pointer;

    @include square(36px);
  }

  &__old-message {
    font-size: 12px;
    width: 80%;
    padding: $global-spacing-tiny;
    line-height: 40px;
    border-radius: $global-border-radius-giant;
    background-color: $global-color-borders;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    text-align: center;
    position: relative;
    bottom: 0;
    margin: 20px auto;
    cursor: pointer;
  }
}