.multi-pl-button {
    width: 276px;
    height: 287px;
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi-pl-button__icon {
    width: 192px;
    height: 139px;
    background: url("../../../components/icons/MultiPlayerIcon.svg");
}