@import 'styles/constants';
@import 'styles/mixins';

.modal-window {
  position: fixed;
  z-index: $global-z-index-max;
  top: 0;
  left: 0;
  max-width: 100%;

  @include square(100%);


  &__content{
    z-index: 1;
    width: 400px;

    @include absoluteCenter();
    @include pane();

    // чтобы переопределить из pane
    @include media('>phone') {
      padding: #{$global-spacing-big * 2} $global-spacing-medium;
    }

    @include media('<=phone') {
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: #{$global-spacing-big * 2} $global-spacing-medium;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    background: rgba(0, 0, 0, 0.5);
  }

  &__exit-button {
    position: absolute;
    right: $global-spacing-small;
    top: $global-spacing-small;

    @include buttonBase();
    @include square(32px, 50%);

    &:before {
      content: '';
      background: url('./img/Cancel.svg') no-repeat center;
      background-size: contain;

      @include square(50%);
      @include absoluteCenter();
    }
  }
}
