@import 'styles/constants';
@import 'styles/mixins';

@mixin lineStyle {
  height: 10px;
  width: 100%;
  border-radius: 5px;
}

.indicators-layer {
  width: 100%;
  height: 100%;

  position: relative;

  &__line {
    opacity: 1;
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    background-color: lighten($global-color-borders, 0.1);
    @include lineStyle;

    &_hidden {
      opacity: 0;
    }

    &-content {
      @include lineStyle;
      background-color: #4CAF50;

      &_full {
        background-color: #4CAF50;
      }
      &_medium {
        background-color: #FFD600;
      }
      &_empty {
        background-color: #DD2C00;
      }
    }
  }
}
