@import 'styles/constants';

@mixin lineStyle {
  height: 10px;
  width: 100%;
  border-radius: 5px;
}

.indicators-layer {
  width: 100%;
  height: 100%;

  position: relative;

  &__line {
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
    background-color: lighten($global-color-light-grey, 0.1);
    @include lineStyle;

    &-content {
      @include lineStyle;
      transition: background-color 1s linear, width 1s linear;
      background-color: #4CAF50;

      &_full {
        background-color: #4CAF50;
      }
      &_medium {
        background-color: #FFD600;
      }
      &_empty {
        background-color: #DD2C00;
      }
    }
  }
}
