@import 'styles/constants';
@import 'styles/mixins';

.tab {
  font-size: $global-font-size-medium;
  letter-spacing: 0.02rem;
  display: inline-block;
  color: #FFFFFF;
  cursor: pointer;
  padding: $global-spacing-tiny $global-spacing-small;
  box-sizing: border-box;
  border-radius: $global-border-radius;

  @include animate(background-color);
  $local-color-active: #15283C;

  &:hover {
    background-color: $local-color-active;
  }

  &_active {
    background-color: $local-color-active;
  }
}
