@import 'styles/constants';

.tab {
  font-size: $global-font-size-medium;
  letter-spacing: 0.02rem;
  display: inline-block;
  color: #FFFFFF;
  cursor: pointer;

  &_active {
    color: $global-color-sad;
  }
}