@import 'styles/mixins';
@import 'styles/constants';

.member {
  display: inline-block;
  text-align: center;

  &__avatar {
    @include square(180px);
    display: inline-block;
  }

  &__info {
    padding-top: 20px;
  }

  &__name {
    color: $global-color-primary-dark;
    font-size: $global-font-size-l;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__description {
    color: $global-color-primary-dark;
    font-size: $global-font-size-m;
  }
}
