@import 'styles/constants';

.sign-up-form {
  width: 100%;
  height: 100%;

  &__form {
    margin-bottom: $global-spacing-medium;
  }

  &__upload {
    margin-bottom: $global-spacing-big;
  }

  &__back-button {
    margin-top: $global-spacing-medium;
  }
}
